.Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #fff;
  }
  
  .Contacts h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .Contact {
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .Contact h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .Contact p {
    margin-bottom: 1rem;
  }
  
  .Contact a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #087F8C;
    border-radius: 0.5rem;
    background-color: #087F8C;
    color: #fff;
    text-decoration: none;
  }
  
  .Contact a:hover {
    background-color: #fff;
    color: #333;
  }