.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #f8f8f8;
}

.Home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.Home p {
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .Home {
        min-height: 50vh;
    }
}