.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #087F8C;
  color: #fff;
}

.Navbar h1 {
  font-size: 2rem;
}

.Navbar ul {
  display: flex;
}

.Navbar li {
  margin-right: 1.5rem;
}

.Navbar a {
  color: #fff;
  text-decoration: none;
}

.Navbar a:hover {
  text-decoration: underline;
}